@import url(https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css);


/* header */
.header {
    position: sticky;
    top: 0;
    left: 0;
    line-height: 80px;
    text-align: center;
    background: #fff;
    border-bottom: 1px solid rgb(207, 207, 207);
    /* box-shadow: 0 3px 3px rgba(207, 207, 207, 0.623); */

    z-index: 9999;
}

.header .inner {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;

}

.header h1 img {
    width: 150px;
}

.header .inner .gnb>ul {
    display: flex;
    gap: 100px;
}

.header .gnb>ul>li {
    position: relative;
}

.header .inner .gnb ul .menu::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 3px;
    background: rgb(27, 76, 180);
    transition: 0.3s;
    font-weight: 500;

}

.header .inner .gnb ul .menu:hover::after {
    width: 100px;
    color: rgb(27, 76, 180);
}

.header .gnb>ul>li .smenu {
    position: absolute;
    top: 80px;
    left: 50%;
    line-height: 40px;
    background: rgba(255, 255, 255);
    color: #333;

    text-align: center;
    transform: translate(-50%, 0);
    width: 150px;
    z-index: 999;

    height: 0;
    transition: 0.5s;
    overflow: hidden;
}

.header .gnb>ul:hover>li .smenu {
    height: 170px;
}


.header .gnb>ul::before {
    content: "";
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;

    background: rgba(255, 255, 255);
    z-index: 999;

    height: 0;
    transition: 0.5s;
}

.header .gnb>ul:hover::before {
    height: 170px;
}

.header .gnb>ul>li .smenu li:hover {
    color: rgb(27, 76, 180);
    font-weight: 500;
}

/* header end */


/* .main */

.mainVisual {
    position: relative;
}

.mainVisual .mainSlide {
    position: relative;
    background: url(../img/back01.jpg) no-repeat center top / cover;

}

.mainVisual figure {
    position: relative;
    height: 700px;

}

.mainVisual .txt {

    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1200px;
    opacity: 0;
    transition: 0.5s 0.2s;
}

.mainVisual figure.on .txt {
    top: 0;
    opacity: 1;
}

.mainVisual .txt h2 {

    position: absolute;
    top: 90px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    text-indent: -2px;
}

.mainVisual .txt p {

    position: absolute;
    top: 270px;
    left: 0;
    font-size: 30px;
    font-weight: 200;
    color: #fff;
    transition: 0.5s 0.5s;

    opacity: 0;
}

.mainVisual figure.on .txt p {
    top: 180px;
    opacity: 1;
}

.mainVisual figure .txt span {
    position: absolute;
    top: 300px;
    left: 0;
    font-size: 16px;

    color: rgb(255, 255, 255);
    transition: 0.5s 0.5s;
    border: 1px solid rgb(27, 76, 180);
    border-radius: 5px;
    background: rgb(27, 76, 180);
    padding: 10px 20px;
    opacity: 0;
}

.mainVisual figure.on .txt span {
    top: 245px;
    opacity: 1;
}


.mainVisual figure.on .txt span:hover {
    color: rgb(27, 76, 180);
    border: 1px solid rgb(255, 255, 255);
    background: rgb(255, 255, 255);
}



.mainVisual figure .inner {
    position: absolute;
    bottom: 110px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1200px;

}



.mainVisual .mainSlide .slick-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background: none;
    border: none;

    font-size: 0;

}

.mainVisual .mainSlide .slick-prev {
    transform: translate(-50%, -50%) rotate(-45deg);
    margin: 0 0 0 -700px;
}

.mainVisual .mainSlide .slick-next {
    transform: translate(-50%, -50%) rotate(135deg);
    margin: 0 0 0 700px;
}

.mainVisual .mainSlide .slick-dots {
    position: absolute;
    top: 90px;
    right: 250px;


}

.mainVisual .mainSlide .slick-dots>li {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #777;

    margin: 0 2px;
    border-radius: 50%;
    margin: 0 7px;
    transition: 0.5s;

}

.mainVisual .mainSlide .slick-dots>li.slick-active {
    background: #fff;
    width: 12px;
    height: 12px;

}


.mainVisual .mainSlide .slick-dots>li button {
    display: none;
}


/* .main end */

/* .pop_gnb */

.pop_gnb {
    position: relative;
}



.pop_gnb .pop_slide {
    position: absolute;
    bottom: -68px;
    left: 50%;
    transform: translate(-50%, 0);
    background: #fff;
    box-shadow: 0 3px 5px rgba(51, 51, 51, 0.3);
    width: 1200px;
    padding: 20px 0;
    border-radius: 20px;
}

.pop_gnb .pop_slide a {
    display: block;
    text-align: center;
}

.pop_gnb .pop_slide img {
    margin: 0 auto;
    scale: 80%;
    transition: 0.5s;
}

.pop_gnb .pop_slide li:hover img {
    scale: 100%;
}

.pop_gnb .pop_slide li p {
    color: #777;
    font-size: 14px;
}

.pop_gnb .pop_slide li:hover p {
    color: rgb(27, 76, 180);
    font-weight: bold;
    font-size: 16px;
}

.pop_gnb li {
    text-align: center;
}

.mainVisual .pop_gnb .slick-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background: none;
    border: none;

    font-size: 0;

    width: 20px;
    height: 20px;

    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.mainVisual .pop_gnb .slick-prev {
    transform: translate(-50%, -50%) rotate(-45deg);
    margin: 0 0 0 -570px;
}

.mainVisual .pop_gnb .slick-next {
    transform: translate(-50%, -50%) rotate(135deg);
    margin: 0 0 0 570px;
}

/* .pop_gnb end*/


/* .main_content */
.main_content {
    padding: 100px 0;
    background: #f9f9f9;
}

.main_content .inner {

    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.main_content h2 {
    font-size: 50px;
    font-weight: 700;
    margin: 30px 0;
}

.main_content p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 50px 0;
}

.main_content .model {
    display: flex;
    gap: 30px;
}

.main_content .model_01 {
    position: relative;

}

.main_content .model .md {
    overflow: hidden;
    transition: 0.5s;
}

.main_content .model .md:hover {
    width: 120%;
}

.main_content .model figure {
    position: relative;
}

.main_content .model_01 .dt {
    position: absolute;
    left: calc(100% + 30px);
    top: 40px;


    padding: 8px 0;
    width: 15%;
    text-align: center;

    font-weight: 300;
    background: rgb(27, 76, 180);
    color: #fff;

    margin: 0 0 10px 0;
}

.main_content .model_01 .tit {
    position: absolute;
    left: calc(100% + 30px);
    top: 80px;

    width: 100%;
    text-align: left;
    font-size: 35px;
    font-weight: 700;
}

.model>div {
    flex: 1
}

.model .model_02 {
    position: relative;
    display: flex;
    gap: 30px;
    align-items: flex-end;
}

.model_02 figure img {
    margin: 0 0 10px 0;
}

.model_02 figure div {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}


/* .main_content end */



/* .sub_content */

.sub_content {
    height: 900px;
    padding: 100px 0;


}

.sub_content .inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.sub_content .inner h2 {
    font-size: 50px;
    font-weight: 700;
    margin: 30px 0;
}

.sub_content .inner p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 50px 0;

}

.sub_content .ioniq {
    position: relative;
    display: flex;
}

.sub_content .ioniq_txt {
    background: #f7f3f2;
    text-align: left;
    padding: 45px;
}

.sub_content .ioniq_txt span {
    display: inline-block;
    font-size: 12px;
    background: rgb(11, 166, 177);
    padding: 2px 4px;
    color: #fff;
    margin: 0 0 8px 0;
}

.sub_content .ioniq_txt .tit {
    font-size: 36px;
    font-weight: 700;
    margin: 0 0 14px 0;
    text-indent: -1px;
}

.sub_content .ioniq_txt .txt {
    font-size: 16px;
    color: #333;
    margin: 0 0 70px 0;
}

.sub_content .ioniq_txt .more {
    display: block;
    background: rgb(27, 76, 180);
    padding: 8px 0;
    color: #fff;
    text-align: center;
    margin: 0 0 50px 0;
}

.sub_content .ioniq_txt .txt02 {
    display: block;
    padding: 7px 0;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 2px 0;
}

.sub_content .ioniq_txt::before {
    position: absolute;
    content: '';
    background: url(../img/ev_icon_m.jpg) no-repeat center center / cover;
    bottom: 40px;
    right: 30px;
    width: 100px;
    height: 50px;
}

.sub_content .ioniq_txt p {
    font-size: 15px;
    line-height: 1.5;
    word-spacing: 0.5px;
    margin: 0 0 40px 0;
    word-break: keep-all;
    text-indent: -1px;
}

.sub_content .ioniq_txt strong {
    font-size: 16px;
    font-weight: 500;
    color: rgb(27, 76, 180);
    margin: 0 20px 0 0;

}

.sub_content .ioniq_txt strong~strong::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 15px;
    background: #999;
    margin: 0 20px 0 0;
}

.sub_content .ioniq_txt strong i {

    transition: 0.5s;
}

.sub_content .ioniq_txt strong:hover i {
    transform: translateX(8px)
}

.sub_content .ioniq_txt i {
    font-weight: 500;
    color: rgb(27, 76, 180);
    padding: 0 0 0 10px;
}

/* .sub_content end*/


/* .service */
.service {
    padding: 100px 0;
    background: #f9f9f9;
}

.service .inner {

    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.service h2 {
    font-size: 50px;
    font-weight: 700;
    margin: 30px 0;
}

.service p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 50px 0;
}

.service .wrap {

    display: flex;
    width: 1200px;
    margin: 0 auto;
    text-align: left;
    gap: 30px;

}

.service .wrap .service_Slide {
    position: relative;
    flex: 2.2;
    overflow: hidden;
    border: 2px solid rgb(214, 214, 214);

}

.service .wrap .service_Slide figure {
    background: #fff;
    padding: 20px 0 0 0;
    align-items: flex-end;
}

.service .wrap .service_Slide .tit {
    font-size: 30px;
    font-weight: 700;
    color: rgb(27, 76, 180);
    text-align: left;
    margin: 20px 0 16px 40px;
}

.service .wrap .service_Slide .txt {
    font-size: 15px;
    text-align: left;
    margin: 0 0 25px 40px;
    font-weight: 300;
}

.service .wrap .service_Slide a {
    position: relative;
    font-size: 15px;
    text-align: left;
    margin: 0 0 30px 40px;
    font-weight: 500;
}

.service .wrap .APP {
    flex: 0.8;
    border-radius: 30px;
    background: #b0c7eb;

}

.service .wrap .APP .tit {
    font-size: 30px;
    font-weight: 700;
    color: rgb(27, 76, 180);
    text-align: left;
    margin: 60px 45px 30px 45px;
}

.service .wrap .APP .txt {

    text-align: left;
    margin: 0 45px 25px 45px;
    font-weight: 300;
    line-height: 1.5;
}

.service .wrap .APP a {
    font-size: 15px;
    text-align: left;
    margin: 0 5px 30px 45px;
    font-weight: 500;
    line-height: 1.5;
}


.service .service_Slide .slick-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background: #fff;

    width: 20px;
    height: 20px;
    font-size: 0;
    border: none;
    border-top: 2px solid #999;
    border-left: 2px solid #999;
    opacity: 0.25;
}

.service .service_Slide .slick-prev {
    transform: translate(-50%, -50%) rotate(-45deg);
    margin: 0 0 0 -405px;
}

.service .service_Slide .slick-next {
    transform: translate(-50%, -50%) rotate(135deg);
    margin: 0 0 0 405px;
}

.service .service_Slide .slick-dots {
    position: absolute;
    top: 5px;
    right: 50%;
    transform: translate(50%, 0);
}

.service .service_Slide .slick-dots>li {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #777;

    margin: 0 2px;
    border-radius: 50%;
    margin: 0 7px;
    transition: 0.5s;
}

.service .service_Slide .slick-dots>li.slick-active {
    background: rgb(27, 76, 180);
}

.service .slick-dots>li button {
    display: none;
}


/* .service end */



/* .footer */

.footer {
    padding: 50px 0;

    border-top: 1px solid #eee;
    background: #333;
    color: rgba(255, 255, 255, 0.651);
}

.footer .inner {
    width: 1200px;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.651);
}

.footer .list li {
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 20px 0;
}

.footer .list li~li::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    background: rgba(206, 206, 206, 0.427);
    margin: 0 10px;
}


.footer .inner p {
    display: inline-block;
    font-size: 14px;
    color: #333;
    font-weight: 300;
    margin: 0 40px 13px 0;
    color: rgba(255, 255, 255, 0.651);
}

.footer .inner address {
    display: inline-block;
    font-style: normal;
    font-size: 14px;
    color: #333;
    font-weight: 300;

    color: rgba(255, 255, 255, 0.651);
}

/* .footer end*/